.banner-wrapper {
  position: relative;
}
.banner-wrapper .swiper-container {
  width: 1226px;
  height: 460px;
}
.banner-wrapper .swiper-container .swiper-button-prev {
  left: 234px;
  padding: 10px;
}
.banner-wrapper .swiper-container .swiper-button-prev:hover {
  background: #444444;
}
.banner-wrapper .swiper-container .swiper-button-next {
  right: 0px;
  padding: 10px;
}
.banner-wrapper .swiper-container .swiper-button-next:hover {
  background: #444444;
}
.banner-wrapper .swiper-container .swiper-pagination {
  text-align: right;
  bottom: 30px;
}
.banner-wrapper .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  margin-right: 30px;
}
.banner-wrapper .banner-list {
  width: 234px;
  height: 440px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  padding-top: 20px;
  background: #888888;
}
.banner-wrapper .banner-list li {
  float: none;
}
.banner-wrapper .banner-list li a {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
}
.banner-wrapper .banner-list li em {
  color: #cccccc;
}
.banner-wrapper .banner-list li:hover {
  background: orangered;
}
.banner-wrapper .banner-bot {
  overflow: hidden;
  padding-top: 14px;
}
.banner-wrapper .banner-bot ul:nth-child(1) {
  float: left;
  width: 234px;
  background: #444444;
}
.banner-wrapper .banner-bot ul:nth-child(1) li {
  width: 70px;
  height: 82px;
  padding: 0px 3px;
  margin-bottom: 3px;
  text-align: center;
  color: #cccccc;
}
.banner-wrapper .banner-bot ul:nth-child(1) li a {
  opacity: 0.7;
}
.banner-wrapper .banner-bot ul:nth-child(1) li a:hover {
  opacity: 1;
  color: white;
}
.banner-wrapper .banner-bot ul:nth-child(1) li a em {
  font-size: 20px;
  display: block;
  margin-top: 5px;
  padding-top: 20px;
  border-top: 1px solid #cccccc;
}
.banner-wrapper .banner-bot ul:nth-child(2) {
  float: left;
}
.banner-wrapper .banner-bot ul:nth-child(2) li {
  margin-left: 14px;
}
.banner-wrapper .banner-bot ul:nth-child(2) li img {
  width: 316px;
  height: 170px;
}
