footer .footer-top {
  border-bottom: 1px solid #cccccc;
}
footer .footer-top ul {
  padding: 20px 0px;
}
footer .footer-top ul li {
  width: 245.2px;
  box-sizing: border-box;
  border-right: 1px solid #cccccc;
  text-align: center;
}
footer .footer-top ul li a {
  font-size: 20px;
  color: #444444;
  line-height: 40px;
}
footer .footer-top ul li a:hover {
  color: orangered;
}
footer .footer-top ul li a i {
  font-size: 30px;
}
footer .footer-mid {
  padding: 40px 0px;
}
footer .footer-mid::after {
  content: '';
  display: block;
  height: 0px;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
footer .footer-mid ul {
  float: left;
  width: 160px;
}
footer .footer-mid ul span {
  display: block;
  margin-bottom: 20px;
}
footer .footer-mid ul li {
  clear: both;
}
footer .footer-mid ul li a {
  line-height: 28px;
  font-size: 15px;
  color: #888888;
}
footer .footer-mid ul li a:hover {
  color: orangered;
}
footer .footer-mid .telbox {
  margin-left: 979px;
  height: 110px;
  border-left: 1px solid #cccccc;
  text-align: center;
}
footer .footer-mid .telbox p:nth-child(1) {
  color: orangered;
  font-size: 20px;
}
footer .footer-mid .telbox p:nth-child(2) {
  color: #444444;
  line-height: 25px;
  font-size: 14px;
}
footer .footer-mid .telbox a:nth-child(3) {
  display: block;
  width: 118px;
  height: 28px;
  line-height: 28px;
  border: 1px solid orangered;
  margin: 0 auto;
  color: orangered;
  text-decoration: none;
}
footer .footer-mid .telbox a:nth-child(3):hover {
  color: #ffffff;
  background: orangered;
}
footer .footer-mid .telbox .vx {
  padding-top: 10px;
  font-size: 15px;
  position: relative;
}
footer .footer-mid .telbox .vx span {
  color: #444444;
}
footer .footer-mid .telbox .vx > em {
  font-size: 20px;
}
footer .footer-mid .telbox .vx > em:hover {
  color: orangered;
}
footer .footer-mid .telbox .vx img {
  width: 126px;
  height: 126px;
  position: absolute;
  top: 32px ;
  right: 10px;
}
footer .footer-footer {
  background: #fafafa;
  padding: 20px 0px;
}
footer .footer-footer .footer-bot {
  overflow: hidden;
}
footer .footer-footer .footer-bot .footer-logo {
  float: left;
  width: 46px;
  height: 46px;
  background: orangered;
}
footer .footer-footer .footer-bot .footer-logo img {
  width: 100%;
  height: 100%;
}
footer .footer-footer .footer-bot .footer-text {
  float: left;
  width: 1100px;
  padding-left: 15px;
}
footer .footer-footer .footer-bot .footer-text > ul li a {
  color: #444444;
  font-size: 12px;
  padding: 0px 5px;
  border-right: 1px solid #444444;
}
footer .footer-footer .footer-bot .footer-text > ul li a:hover {
  color: orangered;
}
footer .footer-footer .footer-bot .footer-text p {
  color: #888888;
  font-size: 14px;
}
footer .footer-footer .footer-bot .footer-text p a {
  color: #888888;
}
footer .footer-footer .footer-bot .footer-text p a:hover {
  color: orangered;
}
footer .footer-footer .footer-bot .footer-text .logolist {
  padding-top: 15px;
}
footer .footer-footer .footer-bot .footer-text .logolist li {
  width: 100px;
  height: 40px;
}
footer .footer-footer .footer-bot .footer-text .logolist li a {
  border-right: 0px;
}
footer .footer-footer .footer-bot .footer-text .logolist li a img {
  width: 100px;
  height: 40px;
}
footer .footer-footer .footer-bot .footer-text h3 {
  font-size: 20px;
  line-height: 60px;
  color: #888888;
  text-align: center;
  font-family: '华文行楷';
}
